Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are: Python R C++

Some of the commonly used libraries used by Data Scientists include: Pandas Matplotlib Numpy

Data Science Tools: Jupyter Notebook RStudio Apache Spark

Below are a few examples of evaluating arithmetic expressions in Python

**Suma**: `5 + 3` produce `8`
**Resta**: `10 - 4` produce `6`
**Multiplicación**: `7 * 3` produce `21`

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
 #This will convert 200 minutes to hours by diving by 60
#A represent 200 minutes
A=200
#B represent 60 minutes
B=60
#Result
print(f'{A} minutes are {A / B} hours')

200 minutes are 3.3333333333333335 hours

**Objectives:**

- List popular languages for Data Science
- Describe common libraries used in Data Science
- Explain basic data structures in Python
- Demonstrate simple data analysis techniques
- Provide examples of data visualization tools

Author
Antonio Jesús Collilef Chanqueo